{% extends 'base.html' %}

{% block title %}FurFriends — О проекте{% endblock %}

{% block content %}
<div class="row justify-content-center py-4">
    <div class="col-md-8">
        <h1 class="text-center mb-4 title">О проекте FurFriends</h1>
        <div class="card text-light border-0 shadow-sm about-card">
            <div class="card-body p-4">
                <p class="lead">Это учебный проект, созданный для демонстрации работы с Django и Bootstrap. Мы предлагаем товары для любителей котиков и енотиков!</p>
                <p class="lead">Наш сайт помогает пользователям узнавать о продуктах и наслаждаться их красотой без доступа к базе данных.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}