{% extends 'base.html' %}
{% load i18n %}

{% block title %}JustStore — {% translate "О проекте" %}{% endblock %}

{% block content %}
<div class="row justify-content-center py-4">
    <div class="col-md-8">
        <h1 class="text-center mb-4 title">{% translate "О проекте" %} JustStore</h1>
        <div class="card text-light border-0 shadow-sm about-card">
            <div class="card-body p-4">
                <p class="lead">{% translate "Это учебный проект, созданный для демонстрации работы с Django и Bootstrap." %}</p>
                <p class="lead">{% translate "Наш сайт помогает пользователям узнавать о продуктах и наслаждаться их красотой." %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
