{% load static %}
{% load i18n %}
{% with request.resolver_match.view_name as view_name %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage:main' %}">
                <img src="{% static 'images/logo.png' %}" alt="JustStore Logo" height="50" class="d-inline-block align-text-baseline">
                JustStore
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'homepage:main' %}active{% endif %}" 
                        {% if view_name != 'homepage:main' %}href="{% url 'homepage:main' %}"{% endif %}>
                        {% translate "Home" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'about:about' %}active{% endif %}" 
                        {% if view_name != 'about:about' %}href="{% url 'about:about' %}"{% endif %}>
                        {% translate "About" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'catalog:item_list' %}active{% endif %}" 
                        {% if view_name != 'catalog:item_list' %}href="{% url 'catalog:item_list' %}"{% endif %}>
                        {% translate "Items" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'catalog:new_items' %}active{% endif %}" 
                        {% if view_name != 'catalog:new_items' %}href="{% url 'catalog:new_items' %}"{% endif %}>
                        {% translate "New Items" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'catalog:friday_items' %}active{% endif %}" 
                        {% if view_name != 'catalog:friday_items' %}href="{% url 'catalog:friday_items' %}"{% endif %}>
                        {% translate "Friday Items" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'catalog:unverified_items' %}active{% endif %}" 
                        {% if view_name != 'catalog:unverified_items' %}href="{% url 'catalog:unverified_items' %}"{% endif %}>
                        {% translate "Unverified Items" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">{% translate "Cart" %}</a>
                    </li>
                    {% if request.user.is_authenticated and request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">
                                {% translate "Admin" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endwith %}
