{% load static %}
<div class="col">
    <div class="card mx-auto text-light border-0 shadow-sm item-card">
        <div class="row g-0 h-100">
            <div class="col-md-6 d-flex item-image">
                <img src="{{ item.main_image.get_image_300x300.url }}" alt="{{ item.name }}">
            </div>
            <div class="col-md-6 card-body h-100 d-flex flex-column p-3 item-info">
                <div class="flex-grow-1 overflow-auto">
                    <h5 class="card-title text-center">{{ item.name }}</h5>
                    <div class="card-text">
                        <p class="item-category"><strong>Категория:</strong> {{ item.category.name }}</p>
                        <p class="item-tags"><strong>Теги:</strong> {% for tag in item.tags.all %}
                            <span class="fw-normal fst-italic">{{ tag.name }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}</p>
                        <p class="mb-0"><strong>Описание:</strong> </p>
                        {{ item.text|truncatewords_html:10|safe }}
                    </div>
                </div>
                <a href="{% url 'catalog:item_detail' pk=item.pk %}" class="btn btn-primary mt-auto">Подробнее</a>
            </div>
        </div>
    </div>
</div>
