{% extends 'base.html' %}

{% block title %}FurFriends — Список питомцев{% endblock %}

{% block content %}
<div class="row justify-content-center py-4">
    <h1 class="text-center mb-2 title">Список питомцев</h1>
    <div class="row row-cols-1 row-cols-xxl-2 g-4 justify-content-center">
        {% for item in items %}
            {% include 'catalog/item_card.html' with item=item %}
        {% empty %}
            <p class="text-center">Нет доступных товаров.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}