{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    JustStore — {{ page_title|default:"Item List" }}
{% endblock %}

{% block content %}
<div class="row justify-content-center py-4">
    <h1 class="text-center mb-2 title">{{ page_title|default:"Item List" }}</h1>
    <div>
        {% for item in items %}
            {% ifchanged %}
                </div>
                <hr class="mt-5">
                <h3 class="mt-1 mb-0">{{ item.category.name }}</h3>
                <div class="row row-cols-1 row-cols-xxl-2 g-4">
            {% endifchanged %}
        
            
            {% include 'includes/item_card.html' with item=item %}
        
            {% if forloop.last %}
                </div>
            {% endif %}
        {% empty %}
        <p class="text-center">{% translate "Нет доступных товаров." %}</p>
        {% endfor %}
</div>
{% endblock %}
