{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    JustStore — {{ page_title|default:"Список товаров" }}
{% endblock %}

{% block content %}
<div class="row justify-content-center py-4">
    <h1 class="text-center mb-2 title">{{ page_title|default:"Список товаров" }}</h1>
    <div class="row row-cols-1 row-cols-xxl-2 g-4 mt-1">
        {% for item in items %}
            {% include 'includes/item_card.html' with item=item %}
            {% empty %}
            <p class="text-center">{% translate "Нет доступных товаров." %}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
