{% extends "base.html" %}
{% load static %}

{% block title %}FurFriends — Магазин милых питомцев{% endblock %}

{% block content %}
<div class="row justify-content-center py-4">
    <div class="col-md-6 col-lg-7 d-flex flex-column">
        <h1 class="text-center mb-4 title">Добро пожаловать в FurFriends!</h1>
        <p class="text-center mb-4">Откройте мир милых котиков и енотов! Наш магазин предлагает уникальных питомцев для вашего счастья.</p>
        <a href="{% url 'item_list' %}" class="btn btn-primary btn-lg w-75 mx-auto">Выбрать питомца</a>
    </div>
</div>
{% endblock %}