{% extends "base.html" %}
{% load static %}

{% block title %}FurFriends — Магазин милых питомцев{% endblock %}

{% block content %}
<div class="row justify-content-center py-4">
    <h1 class="text-center mb-4 title">Добро пожаловать в FurFriends!</h1>
    <p class="text-center mb-1">Откройте мир милых котиков и енотов! Наш магазин предлагает уникальных питомцев для вашего счастья.</p>
    <div class="row row-cols-1 row-cols-xxl-2 g-4 justify-content-center mt-0">
        {% for item in items %}
            {% include 'catalog/item_card.html' with item=item %}
        {% empty %}
            <p class="text-center">Нет доступных товаров.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}